* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    
  }
  
  .grid-item { 
    width: 500px; 
    margin-left: 5%;
    
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

.nav-wrapper, .page-footer {
    background-color: #051821;
}

.details {
    background-color: #051821;
    padding-top: 1px;
    padding-bottom: 10px;
    position: relative;
    top: -25px;
    
}

@media screen and (max-width: 500px) {
    .grid-item {
      width: 100%;
      margin-left: 0%;
    }
    .responsive-img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      width: 50%;
    }
    .grey-text {
      font-size: 17px;
    }
    .blue-text {
      font-size: 34px;
    }
  }

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}  
/* body {
    background-color: #051821;
} */
/* center image looks centered with margin top of 22% */