* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    
  }
  
  .grid-item { 
    width: 500px; 
    margin-left: 5%;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

.nav-wrapper {
    background-color: #051821;
}

.details {
    background-color: #051821;
    padding-top: 1px;
    padding-bottom: 10px;
    position: relative;
    top: -25px;
    
}

@media screen and (max-width: 500px) {
    .grid-item {
      width: 100%;
      margin-left: 0%;
    }
  }

/* body {
    background-color: #051821;
} */
/* center image looks centered with margin top of 22% */