* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

.nav-wrapper {
    background-color: #9aa297;
}

